
body{
	background-color: rgb(160, 160, 160);
	font-family: Georgia, serif;

}

#blueribbon{
	text-align: center;
	font-size: 60px;
	text-decoration: underline;
}

h2{
	text-decoration: underline;
}

h3{
	font-style: bold;
}
